*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    background-color: teal;
    color: white;
    font-family: sans-serif;
}


#box
{
    padding: 20px;
    background-color:black;
    position :relative;
}


@keyframes animate
 {
    from
    {
        left: 0;
        width: 100%;
    }
    to 
    {

        left: 100%;
        background-color: black;
        width: 0;
        font-size: 0;

    }
}


#box2
{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

    left: 0;
    top: 0;
    
    
    

    background-color: rgb(64, 63, 63);
    color: white;
    animation: animate 2s linear 1 forwards;
}